./*~
./*.txt
./*.o
./*.exe
./dist-newstyle
./dist-newstyle/*
./*.hi
./nppBackup
./nppBackup/*
./.vscode
./.vscode/*
./.git
./.git/*
*~
*.txt
*.o
*.exe
dist-newstyle
dist-newstyle/*
*.hi
nppBackup
nppBackup/*
.vscode
.vscode/*
.git
.git/*
.vscode/